<%= render 'layouts/header', var: "GROUPS", action: nil, aclink: "New group", path: groups_path, path_to: new_group_path %>
<div class="groups">
<% @groups.each do |group| %>
<div class="group">
  <div class="group-logo">
    <img src=<%= "#{group.icon}"%> alt="">
  </div>
  <div class="group-info">
   <div>
    <%= link_to "#{group.name}", activities_home_path(group.id), class: "group-name" %>
    <% @transactions = Activity.includes(:groups).where("groups.id = #{group.id}").references(:groups) %>
    <% @total_amount = 0%>
    <% @transactions.each do |activity|%>
    <%   @total_amount += activity.amount%>
    <% end %>
   </div>
   <div>
     <p class="total">$<%=@total_amount%></p>
   </div>
  </div>
</div>
<%end%>
</div>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-success" %>
