<header class="header">
  <nav>
    <div class="header__backbtn">
    <% if signout == "yes" %>
    <div class="logout">
      <%= link_to '', destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt fa-lg text-reset text-decoration-none" %>
      <p class="lg-o">Log out</p>
    </div>
    <% else %>
      <%= link_to '', path, class: "fas fa-arrow-left fa-lg text-reset text-decoration-none"%>
    <% end %>
    </div>
    <p class="text-reset fs-3"><%= var%></p>
    <div class="header__login">
      <% if action != nil %>
        <%= button_to action, onclick: "this.f.submit();", class:"new-btn text-reset"%>
      <% elsif aclink == nil %>
      <% else %>
        <%= link_to "#{aclink}" , path_to, class:"new-btn text-reset"%>
      <%end%>
    </div>
  </nav>
</header>